.contactus-container {
    @extend .container;
}

.contactus-form {
    margin: $sc-base-margin * 3;
}

.contactus-firstname,
.contactus-lastname,
.contactus-email,
.contactus-subject,
.contactus-message {
    @extend .row;

    label {
        @extend .input-label;
    }

    input {
        @extend .input-large;
    }
}

.contactus-message textarea {
    @extend .input-textarea;
    display: block;
}

.contactus-required {
    @extend .input-required;
}

.contactus-button-container {
    @extend .row;
    margin-top: $sc-base-margin * 4;
}

.contactus-button-submit {
    @extend .button-primary;
    @extend .button-medium;
}

.contactus-text {
    font-family: $sc-maddocks-font-arial;
    margin-top: $sc-base-margin;
    margin-bottom: $sc-base-margin;
}

.contactus-info {
    font-family: $sc-maddocks-font-arial;
    margin-top: $sc-base-margin;
    margin-bottom: $sc-base-margin * 2;
    margin-right: $sc-base-margin * 6;
    display: inline-grid;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}