.free-shipping-bar-container {
    padding-bottom: $sc-base-padding * 3;
    background-color: #e4eff5;
}

.free-shipping-bar-message {
    padding: $sc-base-padding * 2;
    text-align: center;
    color:#002878;
}

.progress {
    margin: 0px 15px 0px 15px;
}